<html>
	<body>
		<form action="addPrestitoView" method="post">
			{% csrf_token %}
			{{ form }}
						
			Data Provvedimento:<input type="date" name="dataProvvedimento" placeholder="dataProvvedimento"/>
			Data Mandato Pagamento:<input type="date" name="dataMandatoPagamento" placeholder="dataMandatoPagamento"/>
			Mese Anno Cedolino (impostare per convenzione il 27 del mese):<input type="date" name="meseAnnoCedolino" placeholder="meseAnnoCedolino"/>			
			Data Cessazione: <input type="date" name="dataCessazione" placeholder="dataCessazione"/>	
			<select name="cf">
				{% for cf in listaCf %}

					<option value="{{cf.CF}}">{{cf.Nome}}</option>

				{% endfor %}

			</select>


			<select name="cciaa">
				{% for cciaa in listaCCIAA %}

					<option value="{{cciaa.Sede}}">{{cciaa.Sede}}</option>

				{% endfor %}

			</select>

			<select name="prov">
				{% for prov in listaProv  %}

					<option value="{{prov.Tipo}}">{{prov.Tipo}}</option>

				{% endfor %}

			</select>

			<select name="valuta">
				{% for valuta in listaValuta  %}

					<option value="{{valuta.Simbolo}}">{{valuta.Simbolo}}</option>

				{% endfor %}

			</select>

			<select name="motivazione">
				{% for motivazione in listaMotivazioni  %}

					<option value="{{motivazione.Motivazione}}">{{motivazione.Motivazione}}</option>

				{% endfor %}

			</select>

			<select name="modRestituzione">
				{% for modRest in listaModRest  %}

					<option value="{{modRest.Tipo}}">{{modRest.Tipo}}</option>

				{% endfor %}

			</select>

			<select name="tasso">
				{% for tasso in listaTassi  %}

					<option value="{{tasso.Tipo}}">{{tasso.Tipo}}</option>

				{% endfor %}

			</select>



			<button type="submit">Aggiungi Anticipazione</button>
		</form>
		{% if listaPrestiti %}

		<table>
			 <tr>
 			<th>Tipo</th>
			<th>Descrizione</th>
			<th>Elimina</th>
			{% for prestito in listaPrestiti %}
				<tr>
					<td><form action="viewPrestito" method="POST" > {% csrf_token %} <button type="submit" value="{{prestito.id}}" name="id">{{prestito.CF}}</button></form></td>
					<td>{{ provvedimento.Descrizione }}</td>
					<td><form action="eliminaPrestito" method="POST" > {% csrf_token %} <button type="submit" value="{{provvedimento.Tipo}}" name="tipo">Elimina</button></form></td>			
				</tr>
			{% endfor %}		
		</table>
		{% endif %}
	</body>
</html>
