<html>
	<body>
		<form action="addValutaView" method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit">Aggiungi Moneta</button>
		</form>
		{% if listaMonete %}
		<table>
			 <tr>
 			<th>Nome Valuta</th> 
 			<th>Simbolo</th>
			<th>Descrizione</th>
			<th>Elimina</th>
			{% for moneta in listaMonete %}
				<tr>
					<td>{{ moneta.Tipo }}</td>
					<td>{{ moneta.Simbolo }}</td>
					<td>{{ moneta.Descrizione }}</td>
					<td><form action="eliminaMoneta" ><button type="submit" value={{ moneta.Tipo}} id="tipo">Elimina</button></form></td>			
				</tr>
			{% endfor %}		
		</table>
		{% endif %}
	</body>
</html>
