<html>
	<body>
		<form action="addValutaView">
			<button action="submit">Inserisci Valuta</button>
		</form>
		<form action="addCCIAAView">
			<button action="submit">Inserisci CCIAA</button>
		</form>
		<form action="addDipendenteView">
			<button action="submit">Inserisci Dipendente</button>
		</form>
		<form action="addRestituzioneView">
			<button action="submit">Inserisci metodo di Restituzione</button>
		</form>
		<form action="addMotPrestitoView">
			<button action="submit">Inserisci Motivazione Prestito</button>
		</form>
		<form action="addTassoInteresseView">
			<button action="submit">Inserisci Tasso d'Interesse</button>
		</form>
		<form action="addTipoProvvedimentoView">
			<button action="submit">Inserisci Tipo Provvedimento</button>
		</form>
		<form action="addPrestitoView">
			<button action="submit">Inserisci Anticipazione</button>
		</form>
	</body>
</html>
